@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b10;
}

html,
body {
  height: 100%;
}

/* System UI only */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji';
}
